@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

ul,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    max-width: 75px;
}

.nav__links{
    list-style: none;
}
.nav__links ul{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links ul a{
    transition: all 0.3s ease 0s;
}
.nav__links ul a:hover{
    color:#0088a9
}
button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor :pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0,8);
}
body{

    font-family:Source Sans Pro;
    background: #282828;
    background: linear-gradient(-45deg, #CCCCCC,#C0C0C0,#999999,);
    background-size: 400% 400%;
    animation:Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
     0% {
         background-position:0% 50%;
     }
     50%{
         background-position:100% 50%;
     }
     100%{
         background-position:0% 50%;
     }
}





h1{
    font-weight: lighter;
    font-size: 80px;
    color:#fff;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

p{
    color:#fff;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0;

}

.media{
    position: absolute;
    top: 40%;
    left: 50%;
    
    transform: translate(-53%,-50%);
}


li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 35px;
    padding: 20px 20px;
    color: #fff;
     
    transition: .5s;
}


li:hover{
    color: #292929;
    border: 1px solid #292929;
    border:1px solid#fff;
    border-radius: 50%;
    transition: .5s;
}

